<h3>Results for "<%=@search_string%>"</h3>
<h4> <%= @result_set_size %> Results </h4>
<p>
  <ul>
    <% @results.each do |result| %>
    <li> <%= result %> </li>
    <% end %>
  </ul>
</p>
<a href="/tweets/search">Search for more tweets!</a>