<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<header>
  <h1>Welcome to DBC APIs!!</h1>
  <img src="/images/dbc.jpg" height="50%" height="50%"></img>
  <h2><a href="/">Home</a></h2>
</header>
<body>
<div id="content">
  <%= yield %>
</div>
</body>
</html>
